.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98vh;
  border-top: 2px solid rgba(128, 128, 128, 0.1);
  border-right: 2px solid rgba(128, 128, 128, 0.1);
  background-color: #0b1416f9;
  padding: 10px;
  color: white;
}

.side-home {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  color: gainsboro;
}

.link-side {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  color: gainsboro;
}

.active-home {
  background-color: #1a282d;
}

.side-home div {
  display: flex;
  padding: 10px;
  width: 50%;
}

.side-home div h4 {
  padding-left: 10px;
}
.side-home div:hover {
  background-color: #1a282d;
  cursor: pointer;
}

.side-home hr {
  width: 60%;
}

.side-topic {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  margin-right: 10px;

  flex-direction: column;
  width: 100%;
}

.topic {
  display: flex;
  width: 50%;
  padding: 10px;
  justify-content: space-between;
}
.topic:hover {
  background-color: #1a282d;
  cursor: pointer;
}

.side-topic h4 {
  color: gray;
  font-size: 13px;
}

.side-topic hr {
  width: 60%;
}

.topic-list {
  display: flex;
  width: 50%;
  padding: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
}
.topic-list div {
  width: 100%;
}
.topic-list ul {
  list-style: none;
  width: 100%;
}

.topic-list ul li {
  width: 100%;
  padding: 10px;
  color: gainsboro;
}

.topic-icon {
  padding-right: 15px;
  color: gainsboro;
}

.topic-list ul li:hover {
  background-color: #1a282d;
  cursor: pointer;
}

.side-last {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  flex-direction: column;
}

.side-last h4 {
  color: gray;
  font-size: 13px;
}

.side-last div {
  display: flex;
  width: 50%;
  padding: 10px;
  justify-content: space-between;
}

.side-last hr {
  width: 60%;
}

.side-last div:hover {
  background-color: #1a282d;
  cursor: pointer;
}

/* animation for angle */

#angle-icon {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.angleUp {
  transform: rotate(180deg);
}

.angleDown {
  transform: rotate(0deg);
}

.policy {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
  border: 2px solid red;
  font-size: 14px;
  color: gray;
}
.side-links{
  color: white;
  text-decoration: none;
  padding: 0 !important;
  margin: 0 !important;
}











/* mobile  */
@media screen and (min-width: 801px) {
 
}


@media screen and (max-width: 1140px) {
  .side-bar {
    display: none;
  }
}