main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-top: 2px solid rgba(128, 128, 128, 0.1);
  background-color: #0b1416f9;
}

.main-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 15px;
  padding: 20px;
}

.main-header-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}

.main-header-btn button {
  background-color: #0b1416f9;
  border: 1px solid rgba(203, 203, 203, 0.407);
  outline: none;
  padding: 10px 12px;
  color: white;
  text-align: center;
  font-size: 14px;
  border-radius: 20px;
}

.main-header button:hover {
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255) !important;
}

.main-header div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
  color: rgba(220, 220, 220, 0.541);
}
.main-header-icons {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 20px;
}

/* tooltip
 */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  margin-top: 10px;
  z-index: 1;
}
.list-view {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  top: 100%;
  left: 50%;
  width: 100px;
  margin-left: -65px;
  margin-top: 15px;
  z-index: 5;
  background-color: #0f1a1c;
  padding: 10px;
  border-radius: 8px;
}

.list-view p {
  display: flex;
  width: 100%;
  padding: 5px;
  color: white;
}

.view-icon {
  display: flex;
  margin-right: 5px;
}
.card-view {
  padding-left: 9px;
  color: #000;
}
.card-view:hover {
  cursor: pointer;
  background-color: #cbcdce5e;
}

.card-view-true {
  padding-left: 9px;
  background-color: #cbcdce5e;
}

.classic-view-true {
  padding-left: 9px;
  background-color: #cbcdce5e;
}
.classic-view {
  padding-left: 9px;
}
.classic-view:hover {
  cursor: pointer;
  background-color: #cbcdce5e;
}
.tooltiptext {
  font-size: 14px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.main-header-icons:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.223);
}

/* CARDS */
/* ***************************************************** */

.main-cards {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}



.card {
  margin: 20px;
  padding: 10px;
  height: 150px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(56, 56, 56, 0.971);
}
.card:hover {
  background-color: rgba(128, 128, 128, 0.223);
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 8px;
}

.card-header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 14px;
  width: 50%;
}

.sub-avatar {
  height: 20px;
  width: 30px;
  padding-bottom: 5px;
}

.sub-name {
  color: rgb(151, 151, 151);
}
.card-date {
  color: #88919791;
}
.date-circle {
  font-size: 3px;
  margin-left: 4px;
  margin-right: 4px;
  color: gray;
}

.card-header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.card-header-right button {
  background-color: #0045ac;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 10px;
  color: white;
}

.circle-div {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 35px;
  border-radius: 50%;
}
.circle-div:hover {
  background-color: rgb(80, 80, 80);
}
.circle {
  font-size: 5px;
  color: rgb(255, 255, 255);
  padding-left: 3px;
}

.card-header-right button:hover {
  cursor: pointer;
  filter: brightness(1.2);
  background-color: rgb(0, 72, 255);
}

.card-content {
  display: flex;
  align-items: center;
  height: 75%;
}

.card-left {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 15px;
}

.card-left-text {
  width: 100%;
  height: 55%;
  font-size: 20px;
  color: white;
  padding: 5px;
}

.card-left-btns {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-left-btns div {
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 6px 8px;
  border: none;
  outline: none;
  background-color: #1b2f33f9;
  border-radius: 20px;
  color: white;
}

#upvote:hover {
  color:  #0582ca;
}

#downvote:hover {
  color: rgb(251, 32, 32);
}

.card-left-btns div:hover {
  filter: brightness(1.2);
}

.card-btn-icon {
  margin-right: 5px;
  margin-left: 5px;
  color: #fffffff9;
}

.card-right-img {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
}

.card-right-img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}



/* mobile  */
@media screen and (min-width: 801px) {
 
}


@media screen and (max-width: 1140px) {
  .side-bar {
    display: none;
  }
}
